.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  height: 60px;
  padding: 0 20px;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.nav-link:hover {
  background-color: #666;
}

/* Navbar styles for mobile */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .nav-menu {
    flex-direction: column;
    margin-top: 10px;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    display: block;
    padding: 10px 0;
    text-align: center;
  }
}
