.project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 40px;
}

.project-image {
  max-width: 100%;
  margin-bottom: 20px;
}

.project-details {
  text-align: center;
}
